.TableHeader {
  background-color: #f9fafb;
  padding: 8px 12px;
  border-bottom: 2px solid #e5e7eb;
}

.TableHeaderCell {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.05em;
  vertical-align: middle;
}
