:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: 'Roboto Condensed', system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'GRAD' 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding-top: 5em;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
