.TableRow {
  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f5f5f5;
  }
}

.TableCell {
  padding: 12px 16px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.5;
  color: #373737;
  font-size: 14px;

  &.Cell-Status {
    text-transform: capitalize;
    padding: 12px 16px 12px 24px;
    &[data-value='available'] {
      position: relative;
      &:before {
        content: '';
        position: absolute;
        display: block;
        width: 14px;
        height: 14px;
        background-color: #7cd335;
        border-radius: 50%;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}
