.TableRow {
  border-bottom: 1px solid #e5e5e5;
  transition: background-color 0.2s;

  &:hover {
    background-color: #f5f5f5;
  }
}

.TableCell {
  padding: 12px 16px;
  text-align: left;
  vertical-align: middle;
  line-height: 1.5;
  color: #373737;
  font-size: 13px;

  &.Cell-Status {
    text-transform: capitalize;
    padding: 12px 16px 12px 24px;
  }
}

.CheckboxCell {
  width: 48px;
  padding: 12px 16px;
  vertical-align: middle;
}
