.DataTableContainer {
  width: 100%;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.DataTable {
  width: 100%;
  border-collapse: collapse;
}
