.DataTableActionBar {
  display: flex;
  gap: 50px;
  align-items: center;
  // padding: 10px;
  border-bottom: 1px solid #e5e5e5;
}

.SelectAllContainer {
  display: flex;
  flex: 0 0 auto;
  min-width: 10em;
  align-items: center;
  font-size: 24px;
  padding: 12px 16px;
  gap: 12px;
  vertical-align: middle;
}

.SelectedCount {
  font-size: inherit;
  color: #000000;
}

.DownloadButtonContainer {
  border: 0;
  background: none;
  flex: 1;
  min-width: 0;

  button {
    background: none;
    border: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 24px;
    color: #000000;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:active:not(:disabled) {
      transform: translateY(1px);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
    }

    &:focus-visible {
      outline-offset: 2px;
    }

    img {
      width: 24px;
      height: 24px;
    }
  }
}
